<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="User ID=gd;Initial Catalog=GD1C2015;Data Source=localhost\SQLSERVER2008;Password=gd2015;MultipleActiveResultSets=True"></add>
    <add key="Fecha" value="01/01/2017"></add>
  </appSettings> 
</configuration>